<!doctype html>
<html lang="en">
<head>
    <title>Portfolio JV - {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo_onglet.png">
    <link href="{{ mix src='/css/style.css' }}" rel="stylesheet">

    <!-- Métadonnées générales -->
    <meta name="description" content="Portfolio of a junior web developer showcasing personal projects">
    <meta name="keywords" content="web development, junior developer, portfolio, projects, HTML, CSS, SCSS, JavaScript, PHP, Laravel, Statamic, WordPress, Flutter">
    <meta name="author" content="Vincent Justin">
    <meta name="title" content="Portfolio Vincent Justin">

    <!-- Métadonnées Open Graph pour les réseaux sociaux -->
    <meta property="og:title" content="Portfolio Vincent Justin">
    <meta property="og:description" content="Portfolio of a junior web developer showcasing personal projects">
    <meta property="og:image" content="/assets/logo_onglet.png">
    <meta property="og:url" content="http://portfoliov2.test/">
    <meta property="og:type" content="website">

</head>
<body>
<h1 class="hidden">Portfolio JV - {{ title }}</h1>
{{ template_content }}
<script src="{{ mix src='/js/script.js' }}"></script>
</body>
</html>
