{{ partial:partials/navigation }}
<section class="project" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="project__title slide-effect-off">
        <h1 class="slideUp" itemprop="name">{{title}}</h1>
    </div>
    <div class="slide-effect">
        <ul class="project__tags slideUp">
            {{ tags}}
            <li class="project__tag" itemprop="keywords">{{ title }}</li>
            {{ /tags }}
        </ul>
    </div>
    <div class="slide-effect-off">
        <div class="project__text slideUp" itemprop="description">{{project_content}}</div>
    </div>
    <div class="project__gallery">
        <div class="project__gallery-item slide-effect-off">
            <img src="{{project_image_1:url}}" alt="{{ project_image_1:alt }}" class="project__img slideRight"
                 itemprop="image">
        </div>
        <div class="project__gallery-item slide-effect-off">
            <img src="{{project_image_2:url}}" alt="{{ project_image_2:alt }}" class="project__img slideLeft"
                 itemprop="image">
        </div>
        <div class="project__gallery-item slide-effect-off">
            <img src="{{project_image_3:url}}" alt="{{ project_image_3:alt }}" class="project__img slideRight"
                 itemprop="image">
        </div>
        <div class="project__gallery-item slide-effect-off">
            <img src="{{project_image_4:url}}" alt="{{ project_image_4:alt }}" class="project__img slideLeft"
                 itemprop="image">
        </div>
    </div>
    <div class="project__links button__wrapper">
        {{if app_link}}
        <a href="{{app_link}}" class="button project__link" target="_blank" itemprop="url">Visit {{title}}</a>
        {{/if}}
        {{if git_link}}
        <a href="{{git_link}}" class="button project__link" target="_blank">Git repository</a>
        {{/if}}
        {{if design_link}}
        <a href="{{design_link}}" class="button project__link" target="_blank">Design file</a>
        {{/if}}
    </div>
</section>
<section class="projects" itemscope itemtype="http://schema.org/CollectionPage">
    <div class="projects__title slide-effect-off">
        <h2 class="slideUp">Other projects</h2>
    </div>
    <div class="projects__container">
        {{ collection:projects :slug:isnt=slug limit="3" }}
        <div class="projects__project slide-effect-off" itemscope itemtype="http://schema.org/CreativeWork">
            <div class="projects__project-text slideUp">
                <h3 class="projects__project-title" itemprop="name">{{title}}</h3>
                <p class="projects__project-description" itemprop="description">{{project_small_content}}</p>
                <div class="projects__project-button button__wrapper">
                    <a href="/project/{{slug}}" class="projects__project-link button" itemprop="url">See more of
                        this</a>
                </div>
            </div>
            <div class="projects__project-img {{if (count % 2 === 0)}} slideRight {{else}}slideLeft{{/if}}">
                <img class="projects__project-img" src='{{ project_image_1:url }}' alt="{{ project_image_1:alt }}"
                     itemprop="image">
            </div>
        </div>
        {{ /collection:projects }}
    </div>
    <div class="projects__button button__wrapper">
        <a href="/projects" class="button" itemprop="url">See all</a>
    </div>
    <svg style="visibility: hidden; position: absolute;" width="0" height="0" version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                               result="goo"/>
                <feComposite in="SourceGraphic" in2="goo" operator="regular"/>
            </filter>
        </defs>
    </svg>
</section>
{{ partial:partials/footer }}
