// Cta
.cta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: calc-em(120,16) 0 calc-em(200,16);
}
.cta__left{
  .cta__name{
    color: $blue;
    font-size: calc-em(40,16);
    font-family: poppinsbold, sans-serif;
    margin-bottom: calc-em(20,40);
  }
  .cta__fonction{
    font-size: calc-em(22,16);
    font-family: poppinsmedium, sans-serif;
    margin-bottom: calc-em(5,22);
  }
  .cta__description{
    color: $grey;
    font-family: poppinsmedium,sans-serif;
    width: 80%;
  }
}
.cta__right{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  grid-gap: calc-em(40,16) 0;
  align-items: center;
  justify-items: center;
}
.separator{
  display: inline-block;
}

// About
.about{
    margin: 0 calc-em(50,16) calc-em(150,16);
}
.about__title{
  margin-bottom: calc-em(50,36);
}
.about__flex{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: calc-em(50,16);
  align-items: center;
}
.about__right{
  line-height: 1.7;
  p{
    font-size: calc-em(18,16);
    margin-bottom: calc-em(10,18);
    strong, a{
      color: $blue;
    }
    a{
      text-decoration: underline;
    }
  }
  span{
    margin-right: calc-em(10,16);
  }
  >a{
    color: $green;
    fill: $green;
  }
}
.about__img{
  width: 100%;
}

// Projects
.projects{
    margin: 0 calc-em(50,16) calc-em(150,16);
}
.projects__title{
    margin-bottom: calc-em(50,36);
}
.projects__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.projects__project{
    width: 100%;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    align-items: center;
    justify-items: self-start;
}
.projects__project:nth-child(2n) .projects__project-img{
    grid-area: left;
}
.projects__project:nth-child(2n) .projects__project-text{
    grid-area: right;

}
.projects__project-title{
    font-family: 'poppinsbold', sans-serif;
    font-size: calc-em(20,16);
    margin-bottom: calc-em(20,18);
}
.projects__project-description{
    font-family: 'poppinsregular',sans-serif;
    color: $grey;
    line-height: 1.4;
    margin-bottom: calc-em(40,16);
}
.projects__project-button{
    display: flex;
    font-size: calc-em(14,16);
}
.projects__project-link{
    color: $blue;

}
.projects__project-img{
    width: 100%;
    border-radius: calc-em(15,16);
}
.projects__button{
    display: flex;
    justify-content: center;
    margin-top: calc-em(70,16);
}

