html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// import
@import "settings";
@import "components/_navigation";
@import "components/_footer";
@import "pages/_home";

// Global scss
html{
    background-color: $black;
}
body{
    color: $white;
    margin: 0 auto;
    font-family: poppinsregular, sans-serif;
    max-width: 1400px;
    line-height: 1.3;
    padding: 0 calc-em(150,16) 0 calc-em(150,16);
}
ul, li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $white;
    :hover{
        color:$blue;
    }
}
h2{
    font-size: calc-em(36,16);
    font-family: poppinsbold, sans-serif;
}

// Button
.button {
    border: 2px solid $blue;
    border-radius: 0.5em;
    color: $blue;
    overflow: hidden;
    padding: calc-em(10,16) calc-em(40,16);
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}
.button::after {
    background-color: $blue;
    border-radius: 0.5em;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.button:hover::after {
    transform: translate(0, 0);
}
.button:hover {
    border: 2px solid transparent;
    color: $white;
    will-change: transform;
}

// Animation
@keyframes buttonAnimation {
    0%{transform: scaleX(1);}
    10%{transform: scaleX(1.3)}
    30%{transform: scaleX(1.2)}
    70%{transform: scaleX(1.3)}
    80%{transform: scaleX(1.2)}
    90%{transform: scaleX(1.1)}
    100%{transform: scaleX(1)}
}

